@import "src/styles/mixins.scss";
.button {
  display: flex;

  @include bgGreen;

  align-items: center;
  height: 50px;
  justify-content: center;
  border-radius: 8px;

  transition: background-color 0.33s ease ;
  will-change: background-color;

  &-image {
    margin: 5px 0 0 0;
  }

  &-title {
    font-family: 'Montserrat', sans-serif;
    color: white;

    margin: 0 0 0 10px;
  }

  &:hover{
    background-color: #364835;

  }
}


